{% extends "layout.html" %}

{% block content %}

        <h1 class="mt-4 mb-3 fw-normal">Сайт: {{ url.name }}</h1>
        
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ url.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Имя</th>
                        <td>{{ url.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Дата создания</th>
                        <td>{{ url.created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="mt-5 mb-3 fw-normal">Проверки</h2>
            
        <form action="/urls/{{ url.id }}/checks" method="post" class="mb-3">
            <button type="submit" class="btn btn-primary">Запустить проверку</button>
        </form>

        <div class="table-responsive">
            <table class="table table-bordered table-striped" data-test="checks">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Код ответа</th>
                        <th>h1</th>
                        <th>title</th>
                        <th>description</th>
                        <th>Дата создания</th>
                    </tr>
                </thead>
                <tbody>
                    {% for url_check in url_checks %}
                    <tr>
                        <td class="px-4 text-muted fw-normal">{{ url_check.id }}</td>
                        <td class="px-4 text-muted">{{ url_check.status_code if url_check.status_code else '' }}</td>
                        <td class="px-4 text-muted">{{ (url_check.h1 if url_check.h1 else '') | truncate(200) }}</td>
                        <td class="px-4 text-muted">{{ (url_check.title if url_check.title else '') | truncate(200) }}</td>
                        <td class="px-4 text-muted">{{ (url_check.description if url_check.description else '') | truncate(200) }}</td>
                        <td class="px-4 text-muted">{{ url_check.created_at if url_check.created_at else '' }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6" class="text-center text-muted py-4">Список проверок пока пуст</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}