{% extends "layout.html" %}

{% block content %}
        <h1 class="display-6 fw-normal mb-4">Сайты</h1>
        
        <div class="table-responsive bg-white shadow-sm rounded">
            <table class="table table-bordered table-hover align-middle mb-0" data-test="urls">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class="py-3 px-4" style="width: 10%;">ID</th>
                        <th scope="col" class="py-3 px-4" style="width: 40%;">Имя</th>
                        <th scope="col" class="py-3 px-4" style="width: 35%;">Последняя проверка</th>
                        <th scope="col" class="py-3 px-4" style="width: 15%;">Код ответа</th>
                    </tr>
                </thead>
                <tbody>
                    {% for url in urls %}
                    <tr>
                        <td scope="row" class="px-4 text-muted fw-normal">{{ url.id }}</td>
                        <td class="px-4">
                            <a href="/urls/{{ url.id }}" class="text-decoration-none text-primary">{{ url.name }}</a>
                        </td>
                        <td class="px-4 text-muted">{{ url.check_created_at if url.check_created_at else ''}}</td>
                        <td class="px-4 text-muted">{{ url.status_code if url.status_code else '' }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center text-muted py-4">Список сайтов пока пуст</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
{% endblock %}